{% extends 'base.html.njk'%}

{% block title %} 
Thank you! {{ name }}
{% endblock title %}

{% block body%}
        Click <a href="top-fossils">here</a> to go back to main fossils page.
{%endblock body%}