<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Most Liked Fossils</title>
  </head>

  <style>
    body{
      top-margin:20px;
      display: flex;
      justify-content: space-evenly
    }
img{
  border: 3px solid black;
}
footer{
  display:flex;
  justify-content:flex-end
}


  </style>

  
  <body>
  
  <header>
<h1>
    {%if name%}
    <p>Hello {{name}}</p>
    {%else%}
    <p>Please login!</p>
    {% endif %}
</h1>


    <form action="/like-fossil" method="post">
      <label for="fossil">Select your favorite fossil</label>
        <select id="fossil" name="fossil">
              <option value="aust"> Australopithecus</option>
              <option value="quetz"> Quetzal</option>
              <option value="steg"> Stegosaurus</option>
              <option value="trex"> Tyrannosaurus Rex</option>
        </select>
      <button type="submit">Like</button>

    </form>

</header>

<br>
    {% for fossilData in fossils %}
    {# {% for  fossilKey, fossilData in fossils%} #}

    <div class="fossil-div">


      <h3>{{ fossilData.name}}</h3>
      <h2>Liked {{fossilData.num_likes}} times. <h2>
        <img src="{{fossilData.img}}"/>
        </div>
        {% endfor %}


      {# <h3>{{ fossils[0].name }}</h3>
      <h2>Liked {{ fossils[0].num_likes }} times.</h2>
      <img src="{{ fossils[0].img }}" /> 
    </div> #}
  </body>

  <footer>

</footer>
</html>
